@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rl2uld");
  src: url("../fonts/icomoon.eot?rl2uld#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rl2uld") format("truetype"), url("../fonts/icomoon.woff?rl2uld") format("woff"), url("../fonts/icomoon.svg?rl2uld#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}