// Colors
//
// Main colors used for the ITCSS sample Project
//
// $green-sushi - Green Primary color
// $red-pink - Green Secondary color
// $purple-wine-berry - Purple Breville color
// $orange-tree-poppy - Orange main color
// $yellow-gimblet  -  Yello Brown Color
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1
$green-sushi: #541388;
$red-pink: #D90368;
$purple-wine-berry: #F1E9DA;
$orange-tree-poppy: #2E294E;
$yellow-gimblet: #FFD400;
